<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div style="text-align: center;">
      <h1>Lista de Carreras</h1>
    </div>
    <div style="text-align: right;">
      <button mat-raised-button class="color1" routerLink="/carreras/nuevo">Nuevo</button>
    </div>

    <mat-form-field>
      <input matInput (keyup)="filtrar($event)" placeholder="Buscar">
    </mat-form-field>


    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nombre_Carrera">
        <th mat-header-cell *matHeaderCellDef> Nombre de Carrera </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre_Carrera}} </td>
      </ng-container>

      <ng-container matColumnDef="accion01">
        <th mat-header-cell *matHeaderCellDef> Actualizar </th>
        <td mat-cell *matCellDef="let element">
        <button mat-raised-button class="color3" [routerLink]="['edicion',element.id]"><span class="material-icons">autorenew</span></button>
        </td>
      </ng-container>
      <ng-container matColumnDef="accion02">
        <th mat-header-cell *matHeaderCellDef> Eliminar </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button class="color2" (click)="confirm(element.id)"><span class="material-icons">delete</span></button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


  </div>

</body>
</html>
