<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section id="Inicio" class="Inicio">
    <img src="./assets/forma.png" class="forma">

    <header>
      <a href="#">
        <img src="./assets/icono.png" alt="logo" class="logo">
      </a>
      <input type="checkbox" class="mostrar_menu" id="toggle">
      <label class="i" for="toggle">
        <mat-icon class="icon">menu</mat-icon>
      </label>
      <nav class="navegation">
        <ul class="nav_menu">
          <li><a href="#Inicio">Home</a></li>
          <li><a href="#Nosotros">Nosotros</a></li>
          <li><a href="#Servicios">Servicios</a></li>
          <li><a href="/login">Ingresar</a></li>
          <li><a href="/registrar-usuario">Registrate</a></li>
        </ul>
      </nav>
    </header>

    <div class="container_img1">
      <img src="./assets/imagen1.png" alt="imagen1" class="img1">
    </div>
    <div class="container">
      <div class="text">
        <h2>Bienvenidos (ɔ◔‿◔)ɔ ♥ <br><span>Almacena tus trabajos y busca trabajo</span> </h2>
        <p></p>
      </div>
    </div>
  </section>

  <section id="Nosotros" class="Nosotros">
    <div class="titulo">
      <h1>Sobre nosotros</h1>
      <p>Nuestro objetivo es crear un espacio en línea donde los estudiantes puedan almacenar sus trabajos
        y proyectos en un solo lugar, lo que facilitará la búsqueda de empleo y permitirá a
        los reclutadores tener una mejor visión del talento disponible en el mercado. </p>
    </div>
    <div class="container2">
      <section class="sobre">
        <div class="container_about_img">
          <img src="./assets/team.jpg" alt="sobre_nosotros" class="img2" >
        </div>
        <div class="container_about_content">
          <h2>Creando un espacio con oportunidades</h2>
          <p> La idea de Connection2Connection surgió de la necesidad de crear un espacio en línea donde
            los estudiantes pudieran almacenar sus trabajos y proyectos, y tener acceso a oportunidades laborales.
            En este contexto, Connection2Connection surge como una solución innovadora que busca conectar a los estudiantes con las empresas
            de una manera más eficiente y efectiva, permitiendo a los reclutadores acceder al talento disponible de manera más
            fácil y rápida, y brindando a los estudiantes la oportunidad de mostrar sus habilidades y talentos de una manera más efectiva y eficiente.
          </p>
          <a href="" class="leer_mas">Leer más</a>
        </div>
      </section>
    </div>
  </section>

  <section id="Servicios" class="Servicios">

    <div class="service">
      <h1>Servicios</h1>
    </div>
    <div class="services">
      <div class="card">
        <label>
          <mat-icon class="icon2">folder</mat-icon>
        </label>
        <h2>Repositorio</h2>
        <p>
          El servicio de repositorio de Connection2Connection es una herramienta en
          línea que permite a los estudiantes almacenar y administrar sus trabajos y
          proyectos de manera organizada y accesible desde cualquier dispositivo con
          acceso a internet. Esto ayuda a los estudiantes a mostrar sus habilidades
          y talentos de manera más efectiva y facilita su búsqueda de empleo.
        </p>
      </div>
      <div class="card">
        <div>
          <mat-icon class="icon2">people</mat-icon>
        </div>
        <h2>Conexión</h2>
        <p>
          Permite a los estudiantes establecer contacto directo con los reclutadores
          de empresas. Los estudiantes pueden crear perfiles en la plataforma y mostrar
           sus habilidades y talentos, mientras que las empresas pueden buscar
          y contactar a los candidatos adecuados para sus necesidades laborales.
      </div>
    </div>
  </section>

  <section>
    <footer>
      <img src="./assets/icono.png" alt="logo" class="logo_alt">
      <ul class="footer-menu">
        <li class="menu-item">Terminos y condiciones</li>
        <li class="menu-item">Pólitica de privacidad</li>
        <li class="menu-item">Contacto</li>
        <li class="menu-item">Preguntas frecuentes</li>
      </ul>
      <span class="copyright">&copy;2023, Connection2Connection Todos los Derechos Reservados.</span>
    </footer>
  </section>

</body>
</html>

